<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CaveBot UI</title>
  <script src="https://unpkg.com/htmx.org@1.9.2"></script>
  <script src="https://unpkg.com/htmx-ws@0.2.2/dist/htmx-ws.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <script src="https://www.desmos.com/api/v1.11/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>
</head>
<body class="min-h-screen bg-gray-50 text-gray-800 bg-gray-600">
  <div id="app"></div>
  <script type="module" src="/static/dist/app.js"></script>
</body>
</html>
